// Variable overrides

// Backup de cores
//$primary: #00509d !default;
//$secondary: #333533 !default;
//$info: #014f86 !default;
//$warning: #fcab10 !default;
//$danger: #9d0208 !default;
//$success: #2d6a4f !default;


$black: #000000;
$grey1: #4c4f54;

$primary: #00509d !default;
$secondary: #4c4f54 !default;
$info: #2C4577 !default;
$warning: #fcab10 !default;
$danger: #9d0208 !default;
$success: #45a164 !default;

$grad1: #375694;
$grad2: #4B4578;
$grad3: #60345C;
$grad4: #742440;
$grad5: #891324;


$primary-dark-theme: #4638c2;
$secondary-dark-theme: #4c4f54;
$success-dark-theme: #45a164;
$info-dark-theme: #4799eb;
$warning-dark-theme: #e1a82d;
$danger-dark-theme: #d16767;
$light-dark-theme: #6c6e7e;
$dark-dark-theme: #0e0e15;

$sidebar-bg: #2C4577;
$sidebar-bg-brand: #213459;
$sidebar-link-hover: #213459;
